.titleBlock {
    /* This is a comment */
    width:80vw;
    /*background:red;*/
    margin-left: 10vw;
    line-height: 1px;
    margin-top:50px;
}

h1, h2, h3 {
    color:#000000;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.canvas{
    height:100vh;
    width:80vw;
    background:white;
    margin-left:10vw;
}